
.translatable-flag {
  margin-right: 3px;
}

/* Make active translation flag a bit transparent */
#block-translatable-translation a.active .translatable-flag {
  opacity: 0.50;
  filter:Alpha(opacity=50);
}

